<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS 첨부하는 곳 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/public/main.css">
   
    <title>Oneul : 오늘에 대하여</title>

    <style type="text/css">
      .jumbotron{
        background-color: papayawhip;
        background-size: cover;
        /* text-shadow: black 0.2em 0.2em 0.2em; */
        color:black; 
      }
    </style>

  </head>
  
  <body>

    <%- include('nav.html') %>

      <div class="jumbotron text-center">
        <h1 class="display-4 text-center">Oneul</h1>
        <p class="lead text-center">오늘에 대하여</p>
        <hr class="my-4">
        <p>개인 및 업무 일정을 계획하는 데 사용할 수 있는 최고의 앱 중 하나입니다. 이 앱에는 많은 작업 관리 기능이 있으며 사용자 인터페이스가 탁월합니다</p>
      </div>

      <div class="container text-center">
        <a class="btn btn-lg" href="/join" role="button">회원가입</a>
        <a class="btn btn-lg" href="/login" role="button">로그인</a>
        <!-- <% if (var i=0; i < data.length; i++) %>       -->
       <!-- <a class="btn btn-lg" href="/list" role="button">목록</a>
        <a class="btn btn-lg" href="/write" role="button">작성</a>
         <!-- <% else %> -->
         <!-- <% endif %> -->


      </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>