<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS 첨부하는 곳 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/public/main.css">
    
   <title>Hello, world!</title>
  </head>
  <body>

    <%- include('nav.html') %>
   
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <h4 class="ml-2 my-3 text-center">채팅리스트</h4>

    <div class="container input-group mb-2">
        <input class="form-control" id="input1">
        <button class="input-group-append btn btn-danger " id="send">서버에 메세지 보내기</button>
    </div>

    <div class="container input-group mb-2">
        <div class="container input-group mb-2">
            <button class="input-group-append btn btn-secondary " id="room1">채팅방1입장</button>
            <button class="input-group-append btn btn-dark " id="room1-send">채팅방1 메세지</button>
        </div>
    </div>

    <div class="container input-group mb-2">
        <div class="container input-group mb-2">
            <button class="input-group-append btn btn-secondary " id="room2">채팅방2입장</button>
            <button class="input-group-append btn btn-dark " id="room2-send">채팅방2 메세지</button>
        </div>
    </div>

    <div id="content"></div>
    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
        var socket = io();

        $('#room1-send').click(function(){
            socket.emit('room1-send', '반가워 채팅방1 사람들아');
        });

        $('#send').click(function(){
            socket.emit('user-send', $('#input1').val() ) // 서버에게 웹소켓으로 실시간 메세지 보내는법 socket.emit('작명', '메세지') // 접속한 모든 유저에게 메세지를 보냄             
        });

        socket.on('broadcast', function(data) {
            $('#content').append('<div>' + data + '</div>')
        });

    </script>

      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>